/* Grundfarben für die Webseite */

:root {
  --title-blue:#061A48;
  --orange:#EE5719;
  --bg-grey:#E0E0E0;
  --text-black:#1E1E1E;
  --text-grey:#4F4F4F;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  line-height: 1.5;
  margin: 0;
}

h1 {
color: white;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 300;
}

form > div {
  margin-bottom: 1em;
}

label {
  display: inline-block;
  width: 80px;
}

input[type="email"],
input[type="password"] {
  width: 200px;
  padding: 4px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vw;
  box-shadow: 0px 7px 39px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}

@media screen and (max-width: 600px) {
  footer {
    height: 140px;
  }
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100%;
  padding: 0;
  margin: 0 0;
  width: 100%;
}

footer ul div {
  flex: 1;
  text-align: center;
  margin: 0 15px;
}

footer ul div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul div a {
  text-decoration: none;
  color: var(--text-black);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  footer ul div a {
    font-size: 18px;
    margin-top: -5px;
  }
}

footer ul div img {
  margin: 20px 0;
  width: 50px;
  height: 50px;
}

footer ul div:hover,
footer ul div:active {
  background-color: var(--orange);
}

p {
  margin-top: 1em;
}
