
:root {
  --title-blue:#061A48;
  --link-blue:#656A92;
  --orange:#EE5719;
  --bg-grey:#E0E0E0;
  --text-black:#1E1E1E;
  --text-grey:#4F4F4F;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  line-height: 1.5;
  margin: 0;
}

.user-profile{
  background-color: var(--bg-grey);
}

h1 {
color: white;
text-align: center;
  font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 300;
}

h2 {
  color: var(--title-blue);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin:0 auto 10px auto;
}

h3 {
  color: var(--title-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.page_title{
 width: 500px;
 margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .page_title{
    width: 90vw;
  }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

form > div{
    margin: 10px 0;
}

.form_container{
  background-color: var(--bg-grey);
  width: 500px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
}
@media screen and (max-width: 600px) {
  .form_container{
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
  }
}

.form_container input{
  width: 460px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
  .form_container input {
    width: 90vw;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
}

.form_container input[type="datetime-local"] {
  width: 460px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-right: 10px; /* Add padding to ensure text doesn't overlap with the icon */
  text-align: left; /* Ensure text aligns properly */
  appearance: none; /* Remove default browser styling */
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  position: relative;
}
@media screen and (max-width: 600px) {
  .form_container input[type="datetime-local"] {
    width: 90vw;
    margin: 0 auto 20px auto;
  }
}

.form_container input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form_container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.form_container label, .form_container p {
  width: 100%;
  margin-bottom: 5px;
  color: var(--text-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .form_container label, .form_container p {
    margin: 0 auto 5px 5vw;
    font-size: 18px;
  }
}

.form_checkbox_transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form_checkbox_transport input {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.form_checkbox_transport label {
  text-align: center;
  color: var(--text-grey);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px; /* Add spacing between checkbox and label */
  width: 100%; /* Ensure label spans full width for centering */
}

@media screen and (max-width: 600px) {
  .form_checkbox_transport label {
    font-size: 18px;
    margin: 0 auto 5px 5vw;
  }
}

.form_container select{
  width: 480px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 20px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-grey);
}
@media screen and (max-width: 600px) {
  .form_container select {
    width: calc(90vw + 20px);
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
}

.form_container textarea{
  width: 480px;
  height: 100px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .form_container textarea {
    width: calc(90vw + 20px);
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
}

input {
  width: 345px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  input {
    font-size: 18px;
  }
}

.edit_profile{
  background-color: white;;
  width: 500px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0 0 10px 0;
}
@media screen and (max-width: 600px) {
  .edit_profile{
    width: 100%;
    font-size: 18px;
  }
}

.icon-container{
  background-color: var(--title-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}
.icon-container img{
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

.edit_profile section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 100%;
}

.edit_profile section input{
  width: 460px;
  height: 40px;
  border-radius: 0;
  border-bottom: 2px solid var(--title-blue);
  background-color: white;
  box-shadow: none;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
.edit_profile section input{
    width: 90vw;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
}

.edit_profile a{
  display: flex;
  width: 100%;
  color: var(--link-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 20px auto;
  justify-content: center;
}

.notification{
  display: flex;
  flex-direction: column;
}
.notification img{
  width: 200px;
  margin: 50px auto;

}

.notification h3{
  margin: 0 auto;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0 auto;
    width: 345px;
    height: 50px;
    background-color: var(--orange);
    border-radius: 50px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 7px 39px 0px rgba(0, 0, 0, 0.25);

    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover{
    width:350px;
    height: 60px;
    color: var(--title-blue);
}

.empty_bottom {
  height: 150px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-shadow: 0px 7px 39px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0;
  width: 100%;
}

footer ul li {
  flex: 1;
  text-align: center;
}

footer ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-black);
  cursor: pointer;
  padding: 10px 0;
  height: 100%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

footer ul li a:hover,
footer ul li a:active {
  background-color: var(--orange);
}

footer ul li a img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 8px auto; /* zentriert & Abstand nach unten */
}


footer ul li a span {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 600px) {
  footer ul li a span {
    font-size: 18px;
    margin-top: -5px;
  }
}

.popup{
  display:none;
  position:fixed;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  background:white;
  padding:20px;
  border:1px solid #ccc;
  box-shadow:0 2px 10px rgba(0,0,0,0.2);
  z-index:1000;
}

.popup-answer {
  margin-top:10px;
}